html {
  background-image: url("ryan-mgsa.jpg");
  background-repeat: no-repeat;
  background-size: 145%;
  color: rgb(23, 74, 133);
  text-shadow: 4px 4px rgb(253, 172, 117);
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 80px;
  margin: 50px;
  /* color: black; */
}

h2 {
  margin: 25px;
}
a {
  color: rgb(23, 74, 133);
  margin: 25px;
  font-size: 40px;
}

a:hover {
  color: rgb(119, 165, 49);
}