html {
  background-image: url("jc-buchenwald-list.jpg");
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgba(90, 90, 13, 0.6);
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 65px;
  margin-left: 50px;
  margin-top: 20px;
  /* color: black; */
}

h2 {
  margin: 25px;
}
a {
  color: rgb(255, 255, 255);
  margin: 25px;
  font-size: 30px;
}

a:hover {
  color: rgb(92, 103, 146);
}